<section class="Form-main"> 
    <h1 class="Content-heading">Todos-Manager</h1>      
    <p class="Content">If you are an existing user </p>
    <p class="Content-button"><%= link_to "sign-in here", new_sessions_path %></p>
    <p class="Content">If you are a new user</p> 
    <p class="Content-button"><%= link_to "sign-up here", new_user_path %></p>
</section>