<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo-Manager-App</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="my-app.css">
</head>
<body>
    <h1 class="TodoPage-title">To-Do List</h1>
    <article>
        <section class="TodoSection"> 
            <h2 class="TodoSection-title">Due today</h2>
                <p class="TodoSection-todo"> paint house</p>
        </section>

        <section class="TodoSection">
            <h2 class="TodoSection-title"> Due tomorrow</h2>
            <p class="TodoSection-todo">clean room</p>
        </section>
    </article>
</body>
</html>